.bg-modal {
  background: white;
  max-width: 500px;
  width: 100%;
  border-radius: 16px;
}

.react-responsive-modal-closeButton {
  border: none;
  // padding: 8px;
  border-radius: 50%;
  &:hover{
    background-color: #e6e8eb;
  }
}
